/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #bed2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1 {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 10;
    /* Added to keep the heading at the top */
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}